nameOverride: "katib"
deployment:
  image:
    repository: hossamdash/katib
    tag: "v1.1"
  securityContext:
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 1000
  # secret volume for environment variables, instead of relying on os env which might be insecure
  # relies on libraries that can read .env files, like python-dotenv for Python apps
  # this assumes a contract between dockerfile and kubernetes deployment that the working directory is /app
  volumes:
    - name: env-file
      secret:
        # don't forget to create this secret in the vault namespace simulating aws secret manager
        secretName: katib
        optional: false
        items:
          - key: .env
            path: .env
  volumeMounts:
    - name: env-file
      mountPath: "/app/.env"
      subPath: .env
      readOnly: true
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi
  livenessProbeEnabled: true
  livenessProbe:
    initialDelaySeconds: 15
    periodSeconds: 30
    failureThreshold: 3
    httpGet:
      path: /health
      port: http
service:
  port: 8080
ingress:
  enabled: true
  className: "traefik"
  annotations: {}
  hosts:
    - host: api.daftar.dev
      paths:
        - path: /
          pathType: Prefix
secretStore:
  kind: ClusterSecretStore
  name: k8s-secrets-vault-ns
