# MongoDB Atlas credentials
# https://www.mongodb.com/docs/atlas/configure-api-access/?programmatic-access=service-account&interface=atlas-ui#std-label-create-org-api-key
mongodbatlas_client_id     = "your-mongodb-atlas-client-id"
mongodbatlas_client_secret = "your-mongodb-atlas-client-secret"

# Redis Cloud credentials
# https://redis.io/docs/latest/integrate/terraform-provider-for-redis-cloud/get-started/
rediscloud_api_key    = "your-rediscloud-api-key"
rediscloud_secret_key = "your-rediscloud-secret-key"
